.header-nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

.header-nav-other {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  border: 1px solid lightgrey;
  color: #47494f;
}

.search-header-nav {
  width: auto;
  padding: 16px 72px;
  border-bottom: 1px solid lightgrey;
}

.filter-button {
  color: #47494f;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  margin-left: 15px;
}

.filter-button:hover {
  background: lightgrey;
}

.header-logo {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 15px;
}

.header-logo > img {
  width: 50%;
}

.login-signup-button:hover {
  border-bottom: 2px solid white;
}
