main {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
}
.header-nav {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  align-content: center;
}

.login-signup {
  display: flex;
  color: white;
}

.login-signup:hover {
  cursor: pointer;
}

.login-signup-button {
  margin-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 7px;
  margin-right: 7px;
}

.header-logo {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 7px;
}

.login-signup-button:hover {
  border-bottom: 2px solid white;
}
