

.header-nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.login-signup {
  display: flex;
  color: white;
  align-items: center;
}

.login-signup:hover {
  cursor: pointer;
}

.login-signup-button {
  margin-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 7px;
  margin-right: 15px;
}

.header-logo {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 15px;
}

.header-logo > img {
  width: 50%;
}

.login-signup-button:hover {
  border-bottom: 2px solid white;
}
