.user-show {
  margin: 0% 10%;
}

.user-show-profile-pic-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
}
.user-show-profile-pic {
  width: 400px;
  height: auto;
}

.user-show-header {
  display: flex;
}

.user-show-review-header {
  font-size: 30px;
}

.user-show-username {
  font-size: 40px;
  color: #444040;;
}

.user-show-review {
  padding: 5px 0;
  border-top: 1px solid lightgrey;
}

.user-show-review:last-child {
  border-bottom: 1px solid lightgrey;
}
